# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Kotlin template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store
.idea/checkstyle-idea.xml
.idea/misc.xml
.idea/thriftCompiler.xml
.idea/vcs.xml
.idea/workspace.xml
target
.idea/*

/dmall-carrier-privilege-common/target
/dmall-carrier-privilege-rpc/target
/dmall-carrier-privilege-api/target
/dmall-carrier-privilege-dao/target
/dmall-carrier-privilege-mq/target
/dmall-carrier-privilege-pojo/target
/dmall-carrier-privilege-sdk/target
/dmall-carrier-privilege-service/target
/dmall-carrier-privilege-web/target
/dmall-carrier-privilege/.idea/
/dmall-carrier-privilege/.idea

### IntelliJ IDEA ###
*.idea
*.iws
*.iml
*.ipr
*.json
